{% load static %}
{% load main_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="{% static 'TestTask/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'TestTask/css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'TestTask/css/custom.css' %}">

    {% block styles %}

    {% endblock %}

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'TestTask/css/fontawesome.min.css' %}">
<!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- Start Top Nav -->

    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="{% url 'index' %}">
                Freelance
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>

                    {% if request.user.is_authenticated %}
                        <a class="nav-icon position-relative text-decoration-none" href="{% url 'profile' %}">
                            <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        </a>

                        <a class="nav-icon position-relative text-decoration-none" href="{% url 'logout' %}">
                            <i class="fa fa-fw fa-sign-out-alt text-dark mr-3"></i>
                        </a>
                    {% else %}
                        <div class="dropdown">
                            <a class="nav-icon position-relative text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false" id="profile" href="">
                                <i class="fa fa-fw fa-user text-dark mr-3"></i>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="profile">
                                <li><a class="dropdown-item" href="{% url 'register' %}">Регистрация</a></li>
                                <li><a class="dropdown-item" href="{% url 'login' %}">Авторизация</a></li>
                            </ul>
                        </div>
                    {% endif %}
            </div>

        </div>
    </nav>
    <!-- Close Header -->

    <!-- Modal -->


    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Content -->
    {% block content %}

    <div class="container py-5">
        <div class="row">



            <div class="col-lg-9 mx-auto">
                <div class="row">
                    {% if request.user.role == 'Фрилансер' %}
                        {% for order in page_obj %}
                            <div class="col-md-4">
                                <div class="card mb-4 product-wap rounded-0">

                                    <div class="card-body" style="min-height: 16rem ">
                                        <a href="{% url 'task_detail' order.id %}" class=" text-decoration-none">{{ order.name }}</a><br>
                                        <span>Описание: {{ order.description|truncatechars:120 }}</span><br><br>
                                        Заказчик: <a href="{% url 'profile_sl' order.customer.username %}">{{ order.customer.username }}</a>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for executor in page_obj %}
                            <div class="col-md-4">
                                <div class="card p-4" style="min-height: 32rem; margin-bottom: 15px"> <div class=" image d-flex flex-column justify-content-center align-items-center">
                                    <button class="btn btn-secondary"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" height="100" width="100" /></button>
                                    <span class="name mt-3">{{ executor.username }}</span> <span class="idd">{{ executor.email }}</span>

                                    <div class=" d-flex mt-2">
                                        <button class="btn1 btn-dark"><a class="text-decoration-none" style="color: #aeaeae;" href="{% url 'profile_sl' executor.username %}">Подробнее</a></button>
                                    </div>
                                    {% if executor.experience %}
                                        <div class="text mt-3">
                                            <h6>Опыт:</h6>
                                            <span>{{ executor.experience|truncatechars:120 }}</span>
                                        </div>
                                    {% endif %}

                                    <div class=" px-2 rounded mt-4 date ">
                                        <span class="join"> <b>Заходил:</b> {% get_date_joined executor.last_login %}</span>
                                    </div>
                                </div>
                                </div>
                            </div>

                        {% endfor %}
                    {% endif %}

                </div>
                {% if request.user.is_authenticated %}
                    <div class="row" id="pagination" style="margin-top:50px">
                        <ul class="pagination pagination-lg justify-content-end">
                            {% for p in page_obj.paginator.page_range %}
                                <li class="page-item {% if page_obj.number == p %} disabled {% endif %}">
                                    {% if page_obj.number == p %}
                                        <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="?page={{ p }}" tabindex="-1">{{ p }}</a>
                                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                                        <a class="page-link text-dark rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="?page={{ p }}" tabindex="-1">{{ p }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>

    {% endblock content %}
    <!-- End Content -->

    <!-- Start Brands -->

    <!--End Brands-->


    <!-- Start Footer -->
    <div class="wrapper flex-grow-1"></div>
    <footer class="" style="background: #212934" id="tempaltemo_footer">
        <div class="container" style="background: #212934">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Freelance</h2>
                </div>

        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2021 Company Name 
                            | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="{% static 'TestTask/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'TestTask/js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'TestTask/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'TestTask/js/templatemo.js' %}"></script>
    <script src="{% static 'TestTask/js/custom.js' %}"></script>
    <!-- End Script -->
</body>

</html>