{% extends 'TestTask/index.html' %}
{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'TestTask/css/profile.css' %}">
{% endblock styles %}


{% block content %}

<div class="container">
<div class="main-body">


<div class="row gutters-sm">
<div class="col-md-4 mb-3">
<div class="card">
<div class="card-body">
<div class="d-flex flex-column align-items-center text-center">
<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
<div class="mt-3">
<h4>{{ task.customer.username }}</h4>
<!--<p class="text-secondary mb-1">Full Stack Developer</p>-->
<!--<p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>-->
<!--<button class="btn btn-primary">Follow</button>-->
<!--<button class="btn btn-outline-primary">Message</button>-->
</div>
</div>
</div>
</div>

</div>
<div class="col-md-8">
<div class="card mb-3">
<div class="card-body">
<div class="row">
<div class="col-sm-3">
<h6 class="mb-0">Заголовок</h6>
</div>
<div class="col-sm-9 text-secondary">
    {{ task.name }}
</div>
</div>
<hr>
<div class="row">
<div class="col-sm-3">
<h6 class="mb-0">Описание</h6>
</div>
<div class="col-sm-9 text-secondary">
{{ task.description }}
</div>
</div>

{% if task.executor %}
    <hr>
    <div class="row">
    <div class="col-sm-3">
    <h6 class="mb-0">Исполнитель</h6>
    </div>
    <div class="col-sm-9 text-secondary">
    {{ task.executor.username }}
    </div>
    </div>
{% endif %}

    {% if request.user.role == 'Фрилансер' and not task.executor %}
        <a class="btn btn-info " target="__blank" style="background: #17a2b8; color: white; margin-top:15px " href="{% url 'take_task' task.id %}">Взять задание</a>
    {% endif %}

</div>


</div>
</div>

</div>
</div>
</div>
</div>

{% endblock content %}

